.wrapper
  = render 'shared/side_bar'
  .chat
    .header
      .left-header
        .left-header__title
          グループ名
        %ul.left-header__members
          Member：
          %li.member
            メンバー名
          %li.member
            メンバー名
          %li.member
            メンバー名
      .right-header
        .right-header__button
          Edit
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
